@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --font-roboto: "Roboto", sans-serif;
  }

  * {
    @apply border-neutral-200;
  }

  body {
    @apply bg-neutral-white text-neutral-black antialiased;
    font-family: var(--font-roboto);
  }

  html {
    scroll-behavior: smooth;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/* Respeitar prefers-reduced-motion */
@media (prefers-reduced-motion: reduce) {
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
